/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Center the app container and set a max-width */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f1f5f9;
}

#root {
  width: 100%;
  max-width: 375px; /* Max width for mobile-like layout */
  margin: auto;
  background-color: #f1f5f9;
}
